<?xml version="1.0" encoding="utf-8" ?>

<configuration xmlns:x="http://www.sitecore.net/xmlconfig/">
  <sitecore>
    <!--
          Replaces the default provider with the mock provider
    -->
    <lookupManager defaultProvider="default">
      <providers>
        <add>
          <x:attribute name="type">Sitecore.Poc.MockGeoIp.MockLookupProvider, Sitecore.Poc.MockGeoIp</x:attribute>
        </add>
      </providers>
    </lookupManager>

  </sitecore>
</configuration>